@page
@model WebApplication1.Pages.AboutModel
@{

<!DOCTYPE html>
<html>
<head>
  <title>About Page</title>
</head>
<body>
  <h1>About</h1>
  <p>This is the About page for your ASP.NET Core application.</p>
</body>
</html>

}
